---
import BaseLayout from '../layouts/BaseLayout.astro'
import TimeLineElement from '../components/cv/TimeLine.astro'
---

<BaseLayout title="Resume" sideBarActiveItemID="cv">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">This is me!</div>
  </div>

  <div class="mb-10 text-justify">
    I'm an art director and marketing specialist based in Vienna with a knack for leading teams and a never-ending curiosity for learning new things. My love for photography and video production not only fuels my creativity but also adds that extra sparkle to my work, making everything I touch just a little more awesome.
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Experience</div>
  </div>

  <div class="time-line-container mb-10">
    <TimeLineElement
      title="Art Director & Webdesigner"
      subtitle="From 05.2024 to now as a Freelancer"
    >
      Visual Branding and Visual Identity<br>
      Graphic Design, Content Creation, and Social Media Management<br>
      Web Design and Local SEO<br>
      Photography and Video Production (Concept, Shooting, and Editing)<br>
      Market Analysis<br>
      Ad Campaigns on Google, Facebook and Instagram<br>
      <br>

    </TimeLineElement>

    <TimeLineElement
      title="Head of marketing, UI/UX designer & Art director"
      subtitle="From 11.2020 to 09.2023 at Dolpheen IT Solutions GmbH, Vienna, Austria (Consultancy Agency)"
    >
      UI/UX Design for Websites and Apps<br>
      Corporate Rebranding, Market Analysis, and Logo Animation<br>
      Management of Internal Newsletters, Photoshoots, and Photo Editing<br>
      Content Creation at Team Events<br>
      Video Campaigns, +300% LinkedIn Followers<br>
      Weekly Meetings with Project Colleagues, Results Tracking, Led Brainstorming Sessions<br>
      Created Elevator Pitch, Competency Database, Educational Program, and Business Case Database<br>
      <br>
    </TimeLineElement>
    <TimeLineElement
      title="Head of purchasing & chief design engineer"
      subtitle="From 07.2019 to 07.2020 at Zetapack Srl, Cesena, Italy (Production of machines for packaging)"
    >
        3D Modeling<br>
        Negotiations with 40% Cost Savings<br>
        Marketing Campaigns<br>
        <br>
    </TimeLineElement>
    <TimeLineElement
      title="Salesman & Mechanic"
      subtitle="From 08.2013 to 02.2017 at Ditta Venturi Snc, Cesena, Italy (Bike shop and assistenca service)"
    >

    </TimeLineElement>
  </div>

  <div class="grid grid-cols-1 md:grid-cols-3 gap-4 mb-7">
    <div>
      <div class="text-3xl font-bold mb-5">Marketing</div>
      <ul class="list-disc mx-6">
        <li>Market Research</li>
        <li>Copywriting</li>
        <li>Technical SEO</li>
        <li>Keyword Research</li>
        <li>Photography</li>
        <li>Video Editing</li>
        <li>Semrush</li>
        <li>Google Ads</li>
        <li>LinkedIn Campaign</li>
        <li>Google Analytics</li>
      </ul>
    </div>
    <div>
      <div class="text-3xl font-bold mb-5">Design</div>
      <ul class="list-disc mx-6">
        <li>Branding</li>
        <li>Typography</li>
        <li>Designing for Print</li>
        <li>UX/UI Design</li>
        <li>HTML/CSS</li>
        <li>Adobe Suite</li>
        <li>Figma</li>
        <li>Wordpress</li>
        <li>Wix</li>
        <li>Astro</li>
      </ul>
    </div>
    <div>
      <div class="text-3xl font-bold mb-5">Management</div>
      <ul class="list-disc mx-6">
        <li>Planning</li>
        <li>Budgeting</li>
        <li>Monitoring</li>
        <li>Documentation</li>
        <li>Hosting a meeting</li>
        <li>Kanban</li>
        <li>Agile</li>
        <li>Waterfall</li>
        <li>Jira</li>
        <li>UIPath Foundation</li>
      </ul>
    </div>
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Education</div>
  </div>

  <div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement
      title="Webdesign Diploma"
      subtitle="10.2023 to 02.2024 at Artpix Grafik- & Webdesign, Vienna, Austria"
    />
    <TimeLineElement
      title="German level B2"
      subtitle="10.2023 to 02.2024 at ibis acam Bildungs GmbH, Vienna, Austria"
    />
    <TimeLineElement
      title="RPA Developer Foundation"
      subtitle="04.2023 to 09.2023 at UI-Path Online Academy"
    />
    <TimeLineElement
      title="Master Degree in Design"
      subtitle="09.2012 to 04.2019 at Mechanical Engineering - Alma Mater Studiorum, Bologna, Italy"
    />
    <TimeLineElement
      title="Bachelor Degree in Mechanical Engineering"
      subtitle="09.2008 to 07.2012 at Alma Mater Studiorum, Bologna, Italy"
    />
    <TimeLineElement
      title="High School Diploma"
      subtitle="09.2003 to 07.2008 at Lice Scientifico Righi, Cesena, Italy"
    />
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Certifications</div>
  </div>

  <ul class="list-disc mx-6 mb-10 grid gap-2">
    <li>
      <a href="#" target="_blank"> Webdesign Diploma</a>
    </li>
    <li>
      <a href="#" target="_blank"> German Language ÖSD level B2</a>
    </li>
    <li>
      <a href="#" target="_blank"> Master Degree in Design</a>
    </li>
    <li>
      <a href="#" target="_blank"> UI Path RPA Developer Foundation</a>
    </li>
  </ul>

  <div class="pb-1 mt-5 text-center">
    <div class="text-3xl font-bold py-5">Are you a recruiter?</div>
      <text class="text-base px-2">
        Download my resume or let's connect!
      </text>
      <div class="mt-5 justify-center ">
        <a class="btn" href="/myportfolio/resume_alberto_venturi_240621.pdf" download target="_self"> Download</a>
        <a href="https://www.linkedin.com/in/albertovmsc/" target="_blank" class="btn btn-outline ml-5">
          Let's connect!
        </a>
      </div>
    </div>
   
  </div>
  
</BaseLayout>
