---
import BaseLayout from '../layouts/BaseLayout.astro'
import TimeLineElement from '../components/cv/TimeLine.astro'
---

<BaseLayout title="Resume" sideBarActiveItemID="cv">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Profile</div>
  </div>

  <div class="mb-10 text-justify">
    I am an art director and marketing specialist with excellent leadership skills and an unquenchable thirst for knowledge. My passionate affinity for photography and video production enriches my skills and contributes significantly to enhancing my results.
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Experience</div>
  </div>

  <div class="time-line-container mb-10">
    <TimeLineElement
      title="Head of marketing, UI/UX designer & Art director"
      subtitle="From 11.2020 to 09.2023 at Dolpheen IT Solutions GmbH, Vienna, Austria (Consultancy Agency)"
    >
    <ul>
      <li> 
        Successfully executed various campaigns on multiple platforms, with a monthly budget of €2,000.
        Led a zero-budget video campaign, resulting in over a 300% increase in our LinkedIn followers per month compared to the previous year.
        Optimized LinkedIn, Kununu, Xing, Facebook, and Instagram for employer branding and developed an educational program to attract talent.
        Worked on SEO producing content based on monthly search volume and developed a framework for employee engagement through social media.
        <br>
      </li>
      <li> 
        Mastered Adobe XD and Figma designing the UI/UX of several projects, including websites and apps.
        Led company rebranding efforts, including market analysis, logo animation using After Effect, and designed promotional items using Illustrator.
        Managed an internal newsletter and photoshoots for colleagues, handling the editing process using Photoshop and Lightroom.
        Responsible for capturing memorable moments during events and enhancing visual branding, shooting and editing videos using Premiere.
        <br>
      </li>
      <li> 
        Defined project goals, roles, and timeline, moderated weekly meetings and established a Jira environment to track results.
        Automated the process of updating skills database through UIPath for the business development management.
        Led productive brainstorming meetings to generate new initiatives, leveraging the strengths of each team member.
        Created an elevator pitch and business case database for the sales team.
        <br>
      </li>
    </ul>

    </TimeLineElement>
    <TimeLineElement
      title="Head of purchasing & chief design engineer"
      subtitle="From 07.2019 to 07.2020 at Zetapack Srl, Cesena, Italy (Production of machines for packaging)"
    >
    Negotiations with suppliers, 40% yearly expenditure savings, marketing campaigns and 3D models design using Autodesk Inventor and AutoCad.
    </TimeLineElement>
    <TimeLineElement
      title="Salesman & Mechanic"
      subtitle="From 08.2013 to 02.2017 at Ditta Venturi Snc, Cesena, Italy (Bike shop and assistenca service)"
    >

    </TimeLineElement>
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Education</div>
  </div>

  <div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement
      title="Webdesign Diploma"
      subtitle="10.2023 to 02.2024 at Artpix Grafik- & Webdesign, Vienna, Austria"
    />
    <TimeLineElement
      title="German level B2"
      subtitle="10.2023 to 02.2024 at ibis acam Bildungs GmbH, Vienna, Austria"
    />
    <TimeLineElement
      title="RPA Developer Foundation"
      subtitle="04.2023 to 09.2023 at UI-Path Online Academy"
    />
    <TimeLineElement
      title="Master Degree in Design"
      subtitle="09.2012 to 04.2019 at Mechanical Engineering - Alma Mater Studiorum, Bologna, Italy"
    />
    <TimeLineElement
      title="Bachelor Degree in Mechanical Engineering"
      subtitle="09.2008 to 07.2012 at Alma Mater Studiorum, Bologna, Italy"
    />
    <TimeLineElement
      title="High School Diploma"
      subtitle="09.2003 to 07.2008 at Lice Scientifico Righi, Cesena, Italy"
    />
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Certifications</div>
  </div>

  <ul class="list-disc mx-6 mb-10 grid gap-2">
    <li>
      <a href="#" target="_blank"> Webdesign Diploma</a>
    </li>
    <li>
      <a href="#" target="_blank"> German Language ÖSD level B2</a>
    </li>
    <li>
      <a href="#" target="_blank"> Master Degree in Design</a>
    </li>
    <li>
      <a href="#" target="_blank"> UI Path RPA Developer Foundation</a>
    </li>
  </ul>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Skills</div>
  </div>

  <ul class="list-disc md:columns-5 columns-2 mx-6">
    <p>Design</p>
    <li>Branding</li>
    <li>Typography</li>
    <li>Designing for Print</li>
    <li>UX/UI Design</li>
    <li>HTML/CSS</li>
    <li>Adobe Suite</li>
    <li>Figma</li>
    <li>Wordpress</li>
    <li>Wix</li>
    <li>Astro</li>
  </ul>
  <ul>
    <p>Marketing</p>
    <li>Market Research</li>
    <li>Copywriting</li>
    <li>Technical SEO</li>
    <li>Keyword Research</li>
    <li>Photography</li>
    <li>Video Editing</li>
    <li>Semrush</li>
    <li>Google Ads</li>
    <li>LinkedIn Campaign</li>
    <li>Google Analytics</li>
  </ul>
  <ul>
    <p>Management</p>
    <li>Planning</li>
    <li>Budgeting</li>
    <li>Monitoring</li>
    <li>Documentation</li>
    <li>Hosting a meeting</li>
    <li>Kanban</li>
    <li>Agile</li>
    <li>Waterfall</li>
    <li>Jira</li>
    <li>UIPath Foundation</li>
  </ul>
</BaseLayout>
