---
import BaseLayout from '../layouts/BaseLayout.astro'
import PassiveCard from '../components/PassiveCard.astro'
---

<BaseLayout title="Marketing & Social Media" sideBarActiveItemID="marketing">
  <div class="mb-5">
    <img src="/myportfolio/public/service_03.png" alt="Marketing & Social Media" class="w-full mb-6 rounded-lg" />
    <div class="text-3xl w-full font-bold">Marketing & Social Media</div>
  </div>

  <div class="mb-10 text-justify">
    Unveiling the secrets of market domination and social media wizardry. From decoding market trends to crafting viral campaigns, I'll make your brand the talk of the town.
  </div>

  <div class="mb-5 mt-5">
    <div class="text-3xl w-full font-bold">Market Analysis</div>
  </div>

  <PassiveCard
    title="Scope"
    img="/myportfolio/service_market_1.webp"
    desc="Sneak through the expectations in order to set goals."
    url="#"
  />
  <div class="divider my-0"></div>
  <PassiveCard
    title="Scouting"
    img="/myportfolio/service_market_2.webp"
    desc="Using marketing softwares feels like being Sherlock with his magnifying glass."
    url="#"
  />
  <div class="divider my-0"></div>
  <PassiveCard
    title="Synthesizing"
    img="/myportfolio/service_market_3.webp"
    desc="Mix all the data into a powerful potion of insights, preparing the perfect foundation for success."
    url="#"
  />

  <div class="mb-5 mt-5">
    <div class="text-3xl w-full font-bold">Social Media</div>
  </div>

  <PassiveCard
    title="Planning"
    img="/myportfolio/service_social_1.webp"
    desc="Craft a social media strategy that makes wedding planners go green with envy."
    url="#"
  />
  <div class="divider my-0"></div>
  <PassiveCard
    title="Posting"
    img="/myportfolio/service_social_2.webp"
    desc="Share content not just for the sake of doing it, but with the purpose of offering value to your audience."
    url="#"
  />
  <div class="divider my-0"></div>
  <PassiveCard
    title="Positioning"
    img="/myportfolio/service_social_3.webp"
    desc="Finding the perfect trend is just a matter of originality. Ninjas like me help you to think outside the box."
    url="#"
  />

  <div class="mb-5 mt-5">
    <div class="text-3xl w-full font-bold">Ads Campaign</div>
  </div>

  <PassiveCard
    title="Conceptualizing"
    img="/myportfolio/service_ads_1.webp"
    desc="Dream up ad campaigns that even Don Draper would admire."
    url="#"
  />
  <div class="divider my-0"></div>
  <PassiveCard
    title="Creating"
    img="/myportfolio/service_ads_2.webp"
    desc="Design ads that capture attention like fireworks on the Disneyland daily parade."
    url="#"
  />
  <div class="divider my-0"></div>
  <PassiveCard
    title="Checking"
    img="/myportfolio/service_ads_3.webp"
    desc="Keep an eagle eye on the campaign’s performance and optimize it."
    url="#"
  />

  <div class="pb-1 mt-5 text-center">
    <div class="text-3xl font-bold py-5">Want to know more?</div>
    <text class="text-base px-2">
      Have a look at my recent works or let's have a chat!
    </text>
    <div class="mt-5 flex justify-center">
      <a class="btn" href="/myportfolio/projects/" target="_self">My works</a>
      <a href="https://calendly.com/albi21/30min" target="_self" class="btn btn-outline ml-5">Schedule a call</a>
    </div>
  </div>
</BaseLayout>
