---
const today = new Date()
---

<footer class="footer footer-center block mb-5 pt-10">
  <div class="pb-2">
    &copy; {today.getFullYear()} Manuel Ernesto
  </div>
  <div class="inline opacity-75">
    Developed by <a href="https://albi21dev.github.io" target="_blank" class="font-bold">Alberto Venturi</a>
  </div>
</footer>
<style></style>
